@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');


a:hover { 
    background-color: gold;
}

p2{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}
p1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: purple;
}

body{
    background-color: #3e0694;
}

a{
     color: gold;
    text-decoration: none;
    }
h1{
      text-align: center; 
    font-family: 'Racing Sans One', sans-serif; 
    font-weight: 200; 
    color: purple;
  
    font-size: 100px;
    background-color: gold;
    width: 517px;
    height: 75px;
}


    text-decoration: overline;
}