@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

a:hover { 
    background-color: gold;
}
body {  background-color: #3e0694; 
    margin-left: 70px; 
    margin-right: 70px;}
   
#stuff { background-color: purple;
    width: 900px
      border: 2px purple;
    border-radius: 25px;;
    
    padding: 15px;}
h1 {
    text-align: center; 
    font-family: 'Racing Sans One', sans-serif; 
    font-weight: 200; 
    color: purple;
    font-size: 100px;
    background-color: gold;
    width: 517px;
    height: 75px;
}

h2 { color: gold;
    font-family: 'Montserrat' 
    ;
  }

h3 { color: gold;
    font-family: 'Montserrat' 
}

p1{
    text-align: center; 
    font-family:'Montserrat', cursive;
    margin-top: 50px; 
    color: white; 
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

#img1{ height: 90%;
        width: 90%; 
        padding-left: 40px;
        padding-right: 20px;}

.travel {
    text-align: left; 
    font-family: 'Montserrat', sans-serif;}

#img2{ height: 90%;
        width: 90%; 
        padding-left: 40px;
        padding-right: 20px;
    }

#img3{ height: 90%;
        width: 90%; 
        padding-left: 60px;
        padding-right: 20px;}
#insta {height: 5%;
		width: 5%;}

#fb {height: 5%;
		width: 5%;}

p2{
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    font-size: 25px; 
    text-align: justify; 
    color: white; 
    letter-spacing: 2px; 


p3 {
    background-color: #3e0694;

}
